.cover {
    height: 250px;
    width: 100%;
    margin-bottom: 500px;
    background-image: url("./clocks.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.emoji {
    margin-top: 300px;
    margin-left: 90px;
    z-index: 10;
    font-size: 100px;
    margin-bottom: 20px;
}

h2 {
    font-size: 60px;
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-left: 90px;
    margin-top: 45px;
}

.pig {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

h4 {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: red;
    margin-top: 1px;
    margin-bottom: 1px;
}

.pig2 {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    padding-right: 100px;
    margin-left: 150px;
    font-weight: 300px;
    line-height: 30px;
}

ul {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    padding-right: 50px;
    margin-left: 150px;
    line-height: 30px;
    font-weight: 300;
}